Package: com.appuplink.opensiriplugin
Name: opensiriplugin
Depends: com.appuplink.opensiri
Version: 0.0.1-4
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: Freddy Kellison-Linn
Author: Freddy Kellison-Linn
Section: System
Tag: role::developer
Installed-Size: 12
